.input_field{
    border: 0px !important;
    padding-top: 0.25em;
    width: 100%;
}
.input_field:focus{
    padding-top: 0.25em;
    outline: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  border: 1px solid white;
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}