.question {
  margin: 15px;
  background-color: white;
}
.question-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.option-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.option-box {
  padding-left: 50px;
}
